body {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.error{
    color: red;
    font-weight: bold;
}
.positiv{
    color: green;
    font-weight: bold;
}
.admin{
    align: center;
    text-align: center;
    margin-top: 10px;
    max-width: 80%;
}